# Dependencies
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
ios/App/App.xcodeproj/xcuserdata/
ios/App/xcuserdata/
*.xcuserstate
DerivedData/

# Capacitor (자동 생성 파일)
ios/App/Pods/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/capacitor-cordova-ios-plugins/
ios/App/CapApp-SPM/.swiftpm/
